<app-shared-dialog
  [caption]="busPointType != null ? 'Редактирование' : 'Добавление'"
  [confirmBtnCaption]="busPointType != null ? 'Сохранить' : 'Добавить'"
  declineBtnCaption="Отменить"
  [formId]="formId"
  [buttonsDisabled]="busPointTypeForm.valid === false"
  (declineBtnClick)="onDeclineBtnClick()"
>
  <form
    [id]="formId"
    [formGroup]="busPointTypeForm"
    (ngSubmit)="onSubmitBusPointType()"
    novalidate
  >
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        [ngClass]="{
          'form-control': true,
          'is-invalid': name?.invalid && (name?.dirty || name?.touched)
        }"
        id="name"
        name="name"
        placeholder="Автовокзал, автостанция или остановка"
        autofocus
        autocomplete="off"
        formControlName="name"
        required
      />
      <label for="name">
        <app-shared-float-label
          [isNotValid]="name?.invalid && (name?.dirty || name?.touched)"
          controlPlaceholder="Автовокзал, автостанция или остановка"
          [hasRequiredError]="name?.errors?.['required']"
          requiredMessage="Название обязательно"
          [hasMinLengthError]="name?.errors?.['minlength']"
          minlengthMessage="Название должно быть не менее 3 символов"
          [hasMaxLengthError]="name?.errors?.['maxlength']"
          maxlengthMessage="Название должно быть не более 45 символов"
          [hasPatternError]="name?.errors?.['pattern']"
          patternMessage="Недопустимые символы"
          controlFullLabel="Название типа остановочного пункта"
        ></app-shared-float-label>
      </label>
    </div>

  </form>
</app-shared-dialog>