<!-- <tr *ngIf="busPointType">
  <td>{{ busPointType?.name }}</td>
  <td>
    <div class="row">
      <app-shared-button [size]="0">Редактировать</app-shared-button>
      <app-shared-button [size]="0">Удалить</app-shared-button>
    </div>
  </td>
</tr> -->

<tr *ngIf="busPointType" class="d-flex">
  <td class="d-flex align-items-center col-10">
    {{ busPointType?.name }}
  </td>
  <td class="d-flex align-items-center col-2">
    <div class="d-flex flex-row justify-content-between w-100">
      <app-shared-button [size]="0"
        >Редактировать</app-shared-button
      >
      <app-shared-button [size]="0"
        >Удалить</app-shared-button
      >
    </div>
  </td>
</tr>
