<table class="table">
  <caption>
    <ng-container *ngIf="loading$ | async">
      <app-shared-spinner></app-shared-spinner>
    </ng-container>
  </caption>
  <thead *ngIf="currentUserHasManagerRole === true" class="table-dark">
    <tr>
      <th width="20%" valign="center" align="left" class="align-td-middle">
        Дата
      </th>
      <th width="40%" valign="center" align="left" class="align-td-middle">
        ФИО
      </th>
      <th width="10%" valign="center" align="left" class="align-td-middle">
        Маршрут
      </th>
      <th width="30%" valign="center" align="left" class="align-td-middle">
        Статус
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <thead *ngIf="currentUserHasManagerRole === false" class="table-dark">
    <tr>
      <th width="20%" valign="center" align="left" class="align-td-middle">
        Дата
      </th>
      <th width="40%" valign="center" align="left" class="align-td-middle">
        Пункты остановок
      </th>
      <th width="5%" valign="center" align="left" class="align-td-middle">
        Маршрут
      </th>
      <th width="30%" valign="center" align="left" class="align-td-middle">
        Статус
      </th>
      <th width="5%" valign="center" align="left" class="align-td-middle">
        Цена
      </th>
      <th></th>
    </tr>
  </thead>

  <ng-container *ngIf="ticketListData$ | async as tickets">
    <tbody *ngIf="tickets.length === 0">
      <tr>
        <td colspan="6">
          <div class="d-flex justify-content-center">
            <strong>Ничего нет</strong>
          </div>
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="tickets.length > 0 && currentUserHasManagerRole === true">
      <tr *ngFor="let ti of tickets">
        <td width="20%" valign="center" align="left" class="align-td-middle">
          {{ ti?.issueDateTime | date: 'dd.MM.yyyy HH:mm' }}
        </td>
        <td width="40%" valign="center" align="left" class="align-td-middle">
          {{ ti?.passengerLastname }}
          {{ ti?.passengerFirstname }}
          {{ ti?.passengerMiddlename }}
        </td>
        <td width="10%" valign="center" align="left" class="align-td-middle">
          {{ ti?.busRouteNumber }}
        </td>
        <td width="30%" valign="center" align="left" class="align-td-middle">
          {{ ticketStatusText(ti?.status) }}
        </td>
        <td valign="center" align="left" class="align-td-middle pe-0">
          <a
            [routerLink]="['/tickets', 'view', ti?.id]"
            class="btn btn-primary btn-sm"
            >Смотреть</a
          >
        </td>
        <td valign="center" align="left" class="align-td-middle">
          <app-shared-button [size]="0" (click)="deleteOne(ti)"
            >Удалить</app-shared-button
          >
        </td>
      </tr>
    </tbody>
    
    <tbody *ngIf="tickets.length > 0 && currentUserHasManagerRole === false">
      <tr *ngFor="let ti of tickets">
        <td width="20%" valign="center" align="left" class="align-td-middle">
          {{ ti?.issueDateTime | date: 'dd.MM.yyyy HH:mm' }}
        </td>
        <td width="40%" valign="center" align="left" class="align-td-middle">
          {{ ti?.departureBuspointName }} - {{ ti?.arrivalBuspointName }}
        </td>
        <td width="5%" valign="center" align="left" class="align-td-middle">
          {{ ti?.busRouteNumber }}
        </td>
        <td width="30%" valign="center" align="left" class="align-td-middle">
          {{ ticketStatusText(ti?.status) }}
        </td>
        <td width="5%" valign="center" align="left" class="align-td-middle">
          {{ ti?.price }}
        </td>
        <td valign="center" align="left" class="align-td-middle pe-0">
          <a
            [routerLink]="['/tickets', 'view', ti?.id]"
            class="btn btn-primary btn-sm"
            >Смотреть</a
          >
        </td>
      </tr>
    </tbody>
  </ng-container>
</table>
