<header class="d-flex flex-wrap justify-content-center p-3 mb-4 border-bottom">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
  >
    <span class="fs-4">Bus ticket vending system</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Начало</a
      >
    </li>
    <li *ngIf="isLoggedIn && currentUserHasManagerRole" class="nav-item">
      <a class="nav-link" routerLink="/users" routerLinkActive="active"
        >Пользователи</a
      >
    </li>
    <li *ngIf="isLoggedIn && currentUserHasManagerRole" class="nav-item">
      <a class="nav-link" routerLink="/carriers" routerLinkActive="active"
        >Перевозчики</a
      >
    </li>
    <li *ngIf="isLoggedIn && currentUserHasManagerRole" class="nav-item">
      <a class="nav-link" routerLink="/buspoints" routerLinkActive="active"
        >Остановочные пункты</a
      >
    </li>
    <li *ngIf="!isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/login" routerLinkActive="active"
        >Войти</a
      >
    </li>
    <li *ngIf="!isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/register" routerLinkActive="active"
        >Зарегистрироваться</a
      >
    </li>
    <li *ngIf="isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/logout" (click)="onLogoutClick()"
        >Выйти</a
      >
    </li>
  </ul>
</header>
