<div class="container">
  <a [routerLink]="['/carriers', 'form', carrier?.id]" class="btn btn-light mb-2"
    >&lsaquo; Перевозчик</a>
  <h2 class="h2 mb-2">Тарифы</h2>
  <h5 *ngIf="carrier?.name != null" class="h5 mb-4">{{ carrier?.name }}</h5>
  <div class="d-flex pt-4 pb-3">
    <div>
      <a
        [routerLink]="['/carriers', carrier?.id, 'fares', 'form']"
        class="w-100 btn btn-primary btn-sm"
      >
        Добавить
      </a>
    </div>
  </div>
  <app-fare-list
    (deleteItemHandler)="onDeleteItemBtnClick($event)"
  ></app-fare-list>
  <ng-container *ngIf="pageData$ | async as pd">
    <div *ngIf="pd.last === false" class="col">
      <div class="row">
        <div class="w-100">
          <a 
            (click)="loadNext()"
            class="w-100 btn btn-primary btn-sm"
          >Загрузить еще
        </a>
        </div>
      </div>
    </div>
  </ng-container>
</div>
