<div class="container">
  <h2 class="h2 mb-4">Перевозчики</h2>
  <div class="d-flex pt-4 pb-3">
    <div>
      <a
        [routerLink]="['/carriers', 'form']"
        class="w-100 btn btn-primary btn-sm"
      >
        Добавить
      </a>
    </div>
  </div>
  <app-carrier-list
    (deleteItemHandler)="onDeleteItemBtnClick($event)"
  ></app-carrier-list>
  <ng-container *ngIf="pageData$ | async as pd">
    <div *ngIf="pd.last === false" class="col">
      <div class="row">
        <div class="w-100">
          <a 
            (click)="loadNext()"
            class="w-100 btn btn-primary btn-sm"
          >Загрузить еще
        </a>
        </div>
      </div>
    </div>
  </ng-container>
</div>
