<table class="table">
  <caption>
    <ng-container *ngIf="loading$ | async">
      <app-shared-spinner></app-shared-spinner>
    </ng-container>
  </caption>
  <thead class="table-dark">
    <tr class="d-flex">
      <th class="d-flex align-items-center col-10">Название</th>
      <th class="d-flex align-items-center col-2"></th>
    </tr>
  </thead>

  <ng-container *ngIf="busPointTypesData$ | async as busPointTypes">
    <ng-container *ngIf="busPointTypes.length === 0">
      <tbody>
        <tr>
          <td colspan="2">
            <div class="d-flex justify-content-center">
              <strong>Ничего нет</strong>
            </div>
          </td>
        </tr>
      </tbody>
    </ng-container>
    <ng-container *ngIf="busPointTypes.length > 0">
      <tbody *ngFor="let bpt of busPointTypes">
        <tr *ngIf="bpt" class="d-flex">
          <td class="d-flex align-items-center col-10">
            {{ bpt?.name }}
          </td>
          <td class="d-flex align-items-center col-2">
            <div class="d-flex flex-row justify-content-between w-100">
              <app-shared-button [size]="0" (click)="editOne(bpt)"
                >Редактировать</app-shared-button
              >
              <app-shared-button [size]="0" (click)="deleteOne(bpt)"
                >Удалить</app-shared-button
              >
            </div>
          </td>
        </tr>
      </tbody>
    </ng-container>
  </ng-container>
</table>
